<div class="bg">

  <div class="footer">
    <div class="footer-links">
    </div>
  </div>

  <div class="card-trip mx-auto">
    <img src="https://lvdneng.rosselcdn.net/sites/default/files/dpistyles_v2/ena_16_9_extra_big/2018/04/07/node_353848/39330516/public/2018/04/07/B9715318602Z.1_20180407192223_000%2BG0CB22QDD.1-0.jpg?itok=E3x0Y8W31523178856" />
    <div class="card-trip-infos">
      <div>
        <h2>Les ateliers</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ullam quasi voluptatum at, eligendi vitae ratione asperiores quo, possimus, enim quibusdam. Eligendi hic quae laborum totam molestiae. Voluptate, quis facilis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nemo id, labore assumenda velit quos porro quae sit recusandae sequi eum quod iure ullam expedita error, excepturi nihil provident ipsam!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum deserunt ab fugiat ut eum nihil non totam nemo iste sit optio, possimus explicabo officiis beatae corrupti recusandae veniam in odit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis iure et, eum, aliquam blanditiis similique deserunt magni culpa nam quam id numquam sint provident. Voluptatem, impedit quas. Repellat, modi tempore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis iure et, eum, aliquam blanditiis similique deserunt magni culpa nam quam id numquam sint provident. Voluptatem, impedit quas. Repellat, modi tempore.</p>
        <div id="contact">
          <%= link_to "Contact", "mailto:simonlacote@hotmail.fr", class: "btn btn-warning" %> 
        </div>
      </div>  
    </div>
  </div>
</div>

