
<div class="bg">

  <div class="footer">
    <div class="footer-links">
    </div>
  </div>

  <div class="card-trip mx-auto">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">

        <div class="carousel-item active">
        <img src="https://lvdneng.rosselcdn.net/sites/default/files/dpistyles_v2/ena_16_9_extra_big/2018/03/15/node_336103/39230399/public/2018/03/15/B9715059511Z.1_20180315181256_000%2BGTCAT0O7Q.1-0.jpg?itok=s2N6fitl1521197285" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="https://lvdneng.rosselcdn.net/sites/default/files/dpistyles_v2/ena_16_9_in_line/2018/03/14/node_335354/39226804/public/2018/03/14/B9715062664Z.1_20180314193038_000%2BGTCAT20ID.1-0.jpg?itok=AmZFylHp1521052247" class="d-block w-50 mx-auto" alt="...">
        </div>
        <div class="carousel-item">
        <img src="https://lvdneng.rosselcdn.net/sites/default/files/dpistyles_v2/ena_16_9_extra_big/2019/04/06/node_564531/40235381/public/2019/04/06/B9719168932Z.1_20190406180501_000%2BG2HDBAOBI.1-0.jpg?itok=cFWJjeIU1554566717" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="https://lvdneng.rosselcdn.net/sites/default/files/dpistyles_v2/ena_16_9_extra_big/2019/10/02/node_645973/40841790/public/2019/10/02/B9721111694Z.1_20191002171527_000%2BGRIEJOQBH.2-0.jpg?itok=Xapcrfw-1570522144" class="d-block w-100" alt="...">
        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>

    <div class="card-trip-infos">
      <div>
        <h2>Wood Art</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ullam quasi voluptatum at, eligendi vitae ratione asperiores quo, possimus, enim quibusdam. Eligendi hic quae laborum totam molestiae. Voluptate, quis facilis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nemo id, labore assumenda velit quos porro quae sit recusandae sequi eum quod iure ullam expedita error, excepturi nihil provident ipsam!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum deserunt ab fugiat ut eum nihil non totam nemo iste sit optio, possimus explicabo officiis beatae corrupti recusandae veniam in odit.</p>
        <div id="contact">
          <%= link_to "Shop", src="https://www.artmajeur.com/sebastien-riga", class: "btn btn-warning" %> 
        </div>
      </div>  
    </div>
  </div>
</div>



