.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.top {
  color: #d19057;
  font-weight: bolder;
}

.top:hover {
  color:#E67E22;
}